[class^="button-"] {
    display: inline-block;
    background: url("../images/button_sprite.png") no-repeat 0 0;
    outline: 0;
    text-decoration: none!important;
}

[class^="button-"]:hover {
    text-decoration: none;
}

.button-back, .button-next, .button-progress-txt {
    padding: 0 22px 28px 13px;
    width: 182px;
    height: 80px;
    line-height: 52px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center
}

/* Нажимаем на кнопки, временный еффект. В идзайне не нашел */
.button-next:active, .button-progress-txt:active {
    opacity: 0.7;
}
/* / Нажимаем на кнопки */

.button-back {
    background-position: 0 0;
    color: #8f8f8f!important;
}
.button-back:hover {
    cursor: pointer;
}

.button-back:active {
    background-position: 0 -94px;
}

.button-next {
    background-position: -231px 0;
    padding-right: 34px;
    padding-left: 0px;
    color: #FFF!important;
}

.button-progress-txt {
    background-position: -231px -94px   ;
}