[class^="cus-icon-"], .cus-icon-empty {
    display: inline-block;
    background: url("../images/icons_sprite.png") no-repeat 0 0;
    width: 55px;
    height: 45px;
}

.cus-icon-empty {
    background: none;
    visibility: hidden;
}

.cus-icon-vk { background-position: 0 12px}
.cus-icon-instagram { background-position: -62px 6px}
.cus-icon-facebook {background-position: -133px 6px}
.cus-icon-computer { background-position: -195px 6px}
.cus-icon-dropbox { background-position: -261px 6px}
