@import "../fonts/HelveticaNeueCyr-Light/fonts.css";
@import "../fonts/HelveticaNeueCyr-Medium/fonts.css";

body, html {
	background: #dedede;
	font-family: "HelveticaNeueCyr-Light", sans-serif;
	font-weight: 100;
}

.container {
    width: 320px;
    padding: 0;
}

#wraper {
    width: 100%;
    /*max-width: 768px;*/
}

.logo-box {
    background: #f9f8f9;
    height: 43px;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    position: relative;
    z-index: 10;
}

.logotype {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 30px;
}

.social-panel {
	height: 58px;
	border-bottom: 4px solid #ff6c5d;
	background: #d74f41;
	width: 100%;
	position: relative;
	z-index: 2;
	min-width: 320px;
}

.social-panel {
	transition: margin-top 0.2s, transform 1s;
	-webkit-transition: margin-top 0.2s, -webkit-transform 1s;
}

.social-panel.closed, .social-panel.closed .links {
	margin-top: -54px;
}
.social-panel.closed .drag-and-drop-box {
	margin-top: 60px;
}

.content {
	border-top: 1px solid #a9a9a9;
	width: 100%;
	background: #dedede;
	position: relative;
	z-index: 1;
	min-width: 320px;
}

.links {
	width: 215px;
	margin: 0 auto;
	min-height: 5px;
	text-align: center;
	padding-top: 11px;
	overflow: hidden;
}

.links a {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url("../images/mobile/social-icons.png") no-repeat;
	margin: 0 16px;
	background-size: 220%;
}

.links a.icon-vk {
	background-position: -41px 0;
}
.links a.icon-vk:hover,
.links a.icon-vk.active {
	background-position: 0 0;
}

.links a.icon-instagram {
	background-position: -41px -39px;
}
.links a.icon-instagram:hover,
.links a.icon-instagram.active {
	background-position: 0px -39px;
}

.links a.icon-phone {
	background-position: -41px -77px;
}
.links a.icon-phone:hover,
.links a.icon-phone.active {
	background-position: 0 -77px;
}
.drag-and-drop-box {
	width: 29px;
	margin: 0 auto;
	height: 16px;
	border: 1px solid #a9a9a9;
	position: relative;
	z-index: 2;
	background: #ff6c5d;
	border-top: none;
	border-bottom: 1px solid #a9a9a9;
	padding-top: 1px;
	margin-top: 6px;
}
.drag-and-drop-box .drag-area {
	width: 40px;
	height: 30px;
	background: transparent;
	position: absolute;
	margin: 0 0 0 -7px;
}
.drag-and-drop-box .line {
	background: #FFF;
	width: 21px;
	height: 2px;
	margin: 2px auto;
}

.main-page-menu {
	width: 250px;
	margin: 51px auto;
}

.main-page-menu a {
	display: block;
	margin: 5px auto;
	background: #f9f8f9;
	border: 1px solid #c7c6c7;
	color: #6c6c6c;
	text-decoration: none;
	width: 230px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 14px;
	font-weight: 100;
}

.main-page-menu a:hover,
.main-page-menu a.active {
	background: #e3e3e3;
}

.photo-choose {
	width: 320px;
	margin: 2px auto;
}

.photo-choose .photo {
	width: 152px;
	margin: 3px 3px;
	float: left;
	height: 152px;
	background: gray;
}
.photo-choose .photo img {
	position: relative;
	z-index: 1;
}

.photo-choose .photo .controls {
	width: 144px;
	height: 36px;
	background: #000;
	opacity: 0.5;
	position: absolute;
	z-index: 2;
	margin-top: 108px;
	overflow: hidden;
	display: none;
}

.photo-choose .photo.checked:hover .controls {
	display: block;
}

.photo-choose .photo .checked-box {
	display: none;
	width: 152px;
	height: 152px;
	position: absolute;
	z-index: 2;
	background: transparent;
	border: 4px solid #ff6c5d;
}

.photo-choose .photo.checked .checked-box,
.photo-choose .photo:hover .checked-box {
	display: block;
	cursor: pointer;
}

.photo-choose .photo:not(.checked):hover .controls {
	display: none;
}
.photo-choose .photo:not(.checked):hover .checked-box {
	cursor: pointer;
	background: rgba(0,0,0,0.5);
	border: none;
}
.photo-choose .photo:not(.checked):hover .checked-box:before {
	content: "";
	display: block;
	width: 37px;
	height: 37px;
	background: url("../images/mobile/controls.png") no-repeat -26px 8px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: 150%;
}


.photo-choose .controls .plus,
.photo-choose .controls .minus {
	background: url("../images/mobile/controls.png") no-repeat 0 0;
	width: 37px;
	height: 37px;
	display: block;
	float: left;
	margin: 0 7px;
	background-size: 130%;
}
.photo-choose .controls .plus:hover,
.photo-choose .controls .minus:hover {
	cursor: pointer;
	opacity: 0.8;
}

.photo-choose .controls .plus:active,
.photo-choose .controls .minus:active {
	cursor: pointer;
	opacity: 0.5;
}

.photo-choose .controls .plus {
	background-position: -20px 9px;
}
.photo-choose .controls .minus {
	background-position: 9px 9px;
}

.photo-choose .controls .quantity {
	height: 37px;
	line-height: 37px;
	width: 39px;
	color: #FFF;
	float: left;
	text-align: center;
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Medium", sans-serif;
	cursor: default;;
}

.top-navbar {
	height: 43px;
	background: #f9f8f9;
	position: relative;
	z-index: 10;
}

.back-link {
	background: url("../images/mobile/back-button.png") no-repeat 4px 6px;
	display: block;
	width: 36px;
	height: 43px;
	background-size: 50%;
}
.back-link:hover {
	opacity: 0.8;
}
.current-page-title {
	display: block;
	width: 206px;
	height: 42px;
	text-align: center;
	line-height: 31px;
	font-size: 14px;
	margin-left: 21px;

	background-color: #c5c5c5;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.18);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	font-family: "HelveticaNeueCyr-Medium", sans-serif;
	padding: 6px 0;
}
.forward-link {
	display: block;
	width: 45px;
	height: 30px;
	line-height: 29px;
	border: 1px solid #ff6c5d;
	border-right: none;
	margin-top: 6px;
	margin-left: 2px;
	background: #FFF;
	font-size: 12px;
	text-align: center;
	color: #ff6c5d;
	text-decoration: none;
}

.forward-link:hover {
	text-decoration: none;
	color: #ff6c5d;
	opacity: 0.8;
}
.forward-link:active {
	opacity: 0.5;
}
.forward-link:before {
	content: "";
	display: block;
	float: right;
	position: absolute;
	margin-left: 44px;
	width: 9px;
	height: 30px;
	margin-top: -1px;
	background: url("../images/mobile/forward-btn.png") no-repeat 0 0;
	background-size: 100%;
}

.forward-link.complete {
	background: red;
	color: #FFF;
}
.forward-link.complete:before {
	content: "";
	display: block;
	float: right;
	border-bottom: 15px solid transparent!important;
	border-top: 15px solid transparent!important;
	border-left: 7.5px solid;
	background: transparent;
	position: absolute;
	border-color: red;
	width: 0;
	height: 0;
	margin-left: 44px;
	margin-top: -1px;
}


.back-link:active {
	opacity: 0.5;
}
.photos-view {
	margin-bottom: 98px;
}

.photos-view .photo {
	margin: 25px auto 0 auto;
	width: 250px;
	background: #FFF;
	text-align: center;
	padding: 12px 0 41px 0;
}
.photos-view .photo, .photos-view .photo img {
	border: 1px solid #ced0d3;
}

.photos-view .photo img {
	background: #ced0d3;
}

.form-box {
	margin-bottom: 11px;
	text-align: center;
}
.form-box label {
	padding: 0;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	color: #585858;
	font-weight: 100;
}

.form-box .form-area {
	margin-top: 5px;
	margin-bottom: 19px;}
.form-box .form-area input {
	padding: 0 10px;
	height: 27px;
	display: block;
	margin: 1px auto 8px auto;
	width: 170px;
	font-size: 13px;
	color: #9e9e9e;
	border: 1px solid #c6c6c6;
}
.form-box .form-area input:focus {
	outline: none;
	border-color: #777777;
}
.form-box .form-area .input-2 input {
	width: 47%;
}
.form-box .input-2 {
	width: 170px;
	margin: 0 auto;
	margin-top: -3px;
	margin-bottom: -7px;
}

.form-box .send-btn {
	background: #d74f41;
	color: #FFF!important;
	text-decoration: none;
	border: none;
}
.form-box .send-btn:hover  {
	opacity: 0.8;
}

.form-box .send-btn:active {
	opacity: 0.5;
}
.header {
	width: 100%;
	min-width: 320px;
}
.bottom-panel {
	position: fixed;
	z-index: 10;
	bottom: 0!important;
	background: #f3f3f3;
	left: 0;
	right: 0;
	width: 100%;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

.smile-panel {
	height: 50px;
	text-align: center;
}

.bottom-panel .smile-panel img {
	margin: 12px 9px;
	display: inline-block;
	cursor: pointer;
}

.bottom-panel a {
	display: block;
	width: 20%;
	height: 50px;
	text-align: center;
	float: left;
	background: #e3e3e3;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
.bottom-panel a img {
	margin-top: 6px;
}

.bottom-panel input[type="text"] {
	width: 60%;
	display: block;
	float: left;
	height: 50px;
	border: none;
	line-height: 50px;
	outline: none;
	background: #f9f9f9;
	font-size: 24px;
}