@import "../fonts/HelveticaNeueCyr-Light.css";
@import "../fonts/HelveticaNeueCyr-Medium.css";
@import "../fonts/HelveticaNeueCyr-UltraLight.css";

header {
    margin-top: 23px;
    min-width: 976px;
}

body {
    background: #FFF;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeueCyr-Medium", sans-serif;
}

a, a:hover, a:active {
    outline: none!important ;
}

.container {
    width: 976px;
}

.logotype {
    display: block;
    margin: 0 auto;
    width: 134px;
    height: 60px;
    background: url("../images/logo.png") no-repeat 0 0;
}

.back-button-box,
.vizzard-box,
.forward-button-box {
    height: 200px;
}

.back-button-box {
    float: left;
    width: 184px;
}

.vizzard-box {
    float: left;
    width: 580px;
}

.forward-button-box {
    float: left;
    width: 165px;
    margin-left: 17px;

}

.converts {
    width: 580px;
    height: 126px;
    position: absolute;
    overflow: hidden;
}

.vizzard-box .circles {
    position: absolute;
    z-index: 1;
    width: 580px;
    height: 46px;
    margin: 125px 0 0 0;
}


.circles .circle-filled {
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 3;
    background: #cacaca;
    border-radius: 9px;
    margin-top: 11px;
    border-color: #cacaca;
}

.circles .circle-filled.active {
    background: #3bba9d;
}

.circles .circle-filled.left {
    margin-left: 67px;}
.circles .circle-filled.right {
    margin-left: 491px;}

.circles .progress-line {
    position: absolute;
    z-index: 3;
    width: 170px;
    height: 3px;
    background: #cacaca;
    margin-top: 16px;
}

.circles .progress-line .progress {
    background: #3bba9d;
    width: 0%;
    height: inherit;
    position: absolute;
}

.circles .progress-line.left {
    margin-left: 93px;
    width: 174px;}
.circles .progress-line.right {
    margin-left: 307px;}

.circles .circle {
    display: block;
    position: absolute;
    z-index: 3;
    width: 26px;
    height: 26px;
    background: transparent;
    margin: 4px 0 0 274px;
    border-radius: 15px;
    border: 2px solid #ff7a6c;
}

.circles .circle-filled:after, .circles .circle:after {
    position: absolute;
    content: "";
    z-index: 3;
    border-left: 1px solid #cacaca;
    margin: 23px 0 0 6px;
    height: 9px;
}

.circles .circle-filled.active:after {
    border-color: #3bba9d;
}

.circles .circle:after {
    margin: 27px 0 0 10px;
}


.vizzard-box .text {
    position: absolute;
    width: 580px;
    height: 25px;
    text-transform: uppercase;
    font-size: 11px;
    color: #6c6c6c;
    margin-top: 172px;
    z-index: 3;
}

.text .choose,
.text .signature,
.text .complete {
    display: inline-block;
}

.text .choose {margin: 0 0 0 6px;}
.text .signature {margin: 0 0 0 98px;}
.text .complete {margin: 0 0 0 114px;}

.convert-one, .convert-two, .convert-three {
    background: url("../images/vizzard_sprite.png") 0 0 no-repeat;
    position: absolute;
    z-index: 1;
}

.convert-one {
    background-position: 0px -44px;
    width: 58px;
    height: 62px;
    margin: 61px 0 0 46px;
}

.convert-two {
    width: 79px;
    height: 82px;
    background-position: -203px -24px;
    margin: 41px 0 0 249px;
}

.convert-three {
    width: 59px;
    height: 60px;
    background-position: -423px -44px;
    margin: 61px 0 0 469px;
}

.header-gradient {
    margin-top: 9px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #f9f9f9;
    width: 100%;
    min-width: 976px;
}

.header-button {
    margin-top: 76px;
}

.content {
    margin-top: 10px;
}

.left-menu-container, .right-container {
    float: left;
    min-height: 500px;
}

.left-menu-container {
    width: 237px;
}
.right-container {
    width: 700px;
    margin-left: 5px;
}

.left-menu, .left-menu .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
}

.left-menu .submenu {
    display: none;
}

.left-menu li.open .submenu {
    display: block;
}

.left-menu li {
    margin-bottom: 3px;
}

.left-menu .submenu li:first-child {
    margin-top: 3px;
}

.left-menu a {
    text-decoration: none;
    width: 220px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}

.left-menu a:hover {
    opacity: 0.8;
}

.left-menu a:active {
    opacity: 0.7;
}

.left-menu a [class^="cus-icon-"] {
    position: absolute;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

.left-menu .active:before {
    content: "";
    display: block;
    float: right;
    border-bottom: 25px solid transparent!important;
    border-top: 25px solid transparent!important;
    border-left: 12px solid;
    background: transparent;
    position: absolute;
    margin-left: 220px;
}

.vk-block {
    background: #829ebe;
    color: #FFF!important;
}

.vk-block.active:before {
    border-color: #829ebe;
}

.instagram-block {
    background: #c2ad9d;
    color: #FFF!important;
}

.instagram-block.active:before {
    border-color: #c2ad9d;
}

.faceboock-block {
    background: #748ed3;
    color: #FFF!important;
}

.faceboock-block.active:before {
    border-color: #748ed3;
}

.my-photo-block {
    background: #e6e6e6;
    color: #6c6c6c!important;
}

.my-photo-block.active:before {
    border-color: #e6e6e6;
}

.gray-block {
    background: #f3f3f3;
    color: #6c6c6c!important;
}

.gray-block.active:before {
    border-color: #f3f3f3;
}

.dropbox-block {
    background: #81bddf;
    color: #FFF!important;
}

.dropbox-block.active:before {
    border-color: #81bddf;
}

.computer-block {
    background: #d39af7;
    color: #FFF!important;
}

.computer-block.active:before {
    border-color: #d39af7;
}

.photo-container {
    margin-top: -4px;
}

.photo-container .photo-item-box {
    float: left;
    margin: 5px;
    overflow: hidden;
    width: 165px;
    height: 157px;
    border: 1px solid #a3a3a3;
}

.photo-container .photo-item-box:hover {
    cursor: pointer;
}

.photo-container .photo-item-box img {
    position: relative;
    z-index: 1;
}

.photo-container .photo-item-box.added {
    border: 3px solid #ff5e4c;
}

.photo-container .photo-item-box .selected-overlay {
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
}

.photo-container .photo-item-box .selected-overlay:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}

.photo-container .photo-item-box.added .selected-overlay {
    width: 159px;
    height: 151px;
}

.selected-overlay .photo-plus {
    background: url("../images/photo_sprite.png") 0 0;
    width: 40px;
    height: 40px;
    margin: 60px 0 0 62px;
    position: absolute;
    z-index: 3;
}

.photo-container .photo-item-box:hover .selected-overlay {
    display: block;
}

.photo-container .photo-item-box.added .selected-overlay .photo-plus {
    height: 66px;
    margin-top: 55px;
}

.photo-container .photo-item-box .info {
    position: absolute;
    margin: 7px 0 0 7px;
    z-index: 3;
    color: #FFF;
    display: none;
}

.photo-container .photo-item-box .red-integer {
    display: none;
    height: 32px;
    line-height: 34px;
    background: #ff5e4c;
    color: #FFF;
    position: absolute;
    z-index: 3;
    margin: 119px 0 0 0;
    padding: 0 10px 0 7px;
}

.photo-container .photo-item-box.added .red-integer {
    display: block;
}
.photo-container .photo-item-box.added:hover .info {
    display: block;
}

.load-photos {
    width: 113px;
    text-align: center;
    margin: 24px auto 24px auto;
    font-size: 19px;
    height: 50px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    line-height: 43px;
    color: #8c8c8c;}


/* Page 2 */

.chosen-photo-block {
}

.chosen-photo-block {
    margin: -4px 0 0 21px;
    padding: 0;
    width: 195px;
}

.chosen-photo-block .photo-container {
    display: block;
    float: left;
    width: 78px;
    height: 86px;
    background: #ece7e4;
    border: 1px solid #e2cdc0;
    text-align: center;
    margin: 5px 6px;
    padding: 5px 0 0 0;
}

.chosen-photo-block .photo-container:hover {
    background: #ff6c5d;
    border-color: #ff6c5d;
    position: relative;
    z-index: 3;
}

.chosen-photo-block .photo-container:hover:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 88px;
    height: 94px;
    background: url("../images/chosen-active-shadow.png") no-repeat 0 0;
    margin: -6px 0 0 -6px;
}

.chosen-photo-block .photo-container img {
    background: darkgray;
    border: 1px solid #FFF;
}

.chosen-photo-block .photo-container .overlay-bg {
    display: none;
    position: absolute;
    z-index: 4;
    width: 68px;
    height: 65px;
    background: #000;
    opacity: 0.5;
    margin: 0 0 0 4px;
}

.chosen-photo-block .photo-container.checked .overlay-bg {
    display: block;
}

.overlay-bg .icon-check {
    display: block;
    width: 26px;
    height: 18px;
    background: url("../images/icon-check.png") no-repeat 0 0;
    margin: 24px 0 0 20px;
}


.edit-photos-container .photo-item-box {
    width: 344px;
    float: left;
    margin-right: 12px;
    margin-bottom: 9px;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
}

.edit-photos-container .photo-item-box:not(.active):before {
    position: absolute;
    z-index: 0;
    content: "";
    background: url("../images/big-photo-shadow.png") 0 0 no-repeat;
    width: 339px;
    height: 409px;
    margin: 2px 0 0 0px;
}

.edit-photos-container .photo-item-box:nth-child(even) {
    margin-right: 0;
}

.edit-photos-container .photo-item-box .controls,
.edit-photos-container .photo-item-box .overlay-info {
    display: none;
    position: absolute;
    height: 310px;
}

.edit-photos-container .photo-item-box .controls {
    width: 69px;
    margin: 0px 0 0 15px;
}

.edit-photos-container .photo-item-box .overlay-info {
    width: 239px;
    margin: 0px 0 0 86px;
    color: #FFF;
}

.edit-photos-container .photo-item-box .controls:before,
.edit-photos-container .photo-item-box .overlay-info:before {
    z-index: 1;
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background: #000;
    left: 0;
    opacity: 0.5;
}

.edit-photos-container .photo-item-box.active .controls,
.edit-photos-container .photo-item-box.active .overlay-info {
    display: block;
}

.edit-photos-container .photo-item-box.active .overlay-info * {
    position: relative;
    z-index: 2;
}

.edit-photos-container .photo-item-box.active .overlay-info img {
    margin: 105px 0 31px 0;
}

.edit-photos-container .photo-item-box.active .overlay-info p {
    opacity: 0.9;
}



.slider-photo {
    width:7px!important;
    height:280px!important;
    opacity: 0.5!important;
    z-index: 2;
}



.edit-photos-container .photo-item-box .photo-body {
    width: 344px;
    height: 385px;
    text-align: center;
    border-radius: 6px;
    background: url("../images/pattern-1.jpg") repeat, #f4f4f4;
    padding: 17px 0 0 0;
    position: relative;
    z-index: 2;
    box-shadow: inset 0 0 0 3px #FFF;
    border: 1px solid transparent;
}

.edit-photos-container .photo-item-box.active .photo-body {
    border: 2px solid #ff6c5d;
    border-radius: 0px;
}

.edit-photos-container .photo-item-box .photo {
    width: 310px;
    height: 310px;
}

.edit-photos-container .photo-item-box input[type="text"] {
    outline: none;
    text-align: center;
    margin-top: 14px;
    border: 1px solid #b8b8b8;
    width: 310px;
    height: 29px;
    background: url("../images/pattern-2.jpg") repeat 2px 2px, #e4e5e3;
    visibility: hidden;
}

.edit-photos-container .photo-item-box.active input[type="text"],
.edit-photos-container .photo-item-box.open input[type="text"] {
    visibility: visible;
}

.edit-photos-container .photo-item-box input[type="text"]:focus {
    background: #FFF;
}

.edit-photos-container .photo-item-box .smiles-body {
    display: none;
    width: 325px;
    margin: -7px auto 0 auto;
    height: 42px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.edit-photos-container .photo-item-box.active .smiles-body,
.edit-photos-container .photo-item-box.open .smiles-body {
    display: block;
}

.edit-photos-container .photo-item-box .current-smile,
.edit-photos-container .photo-item-box .smiles {
    border: 1px solid #cfcfcf;
    display: block;
    float: left;
    height: 40px;
}

.edit-photos-container .photo-item-box .smiles {
    text-align: center;
    width: 265px;
    background: url("../images/big-photo-shadow.png") -23px -377px no-repeat, #f3f3f3;
    padding: 0;
    line-height: 47px;
    text-transform: uppercase;
    font-size: 11px;
    color: #6c6c6c;
}

.edit-photos-container .photo-item-box .smiles img {
    display: inline-block;
}

.edit-photos-container .photo-item-box .current-smile {
    margin-right: 6px;
    width: 40px;
    margin-left: 8px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    background: url("../images/big-photo-shadow.png") -10px -377px no-repeat, #dedede;
}

.edit-photos-container .photo-item-box .current-smile:before {
    content: "";
    position: absolute;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #cfcfcf;
    background: transparent;
    left: 48px;
    top: 19px;;
}

.form-container {
    margin: 0 auto;
    width: 534px;
    text-align: center;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    margin-bottom: 55px;
}

.form-container input {
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 14px;
    display: inline-block;
    clear: right;
    width: 300px;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #dfd1c8;
    margin-bottom: 18px;
}

.form-container input:focus {
    border-color: #c6c6c6;
    outline: none;
    box-shadow: rgb(215, 215, 215) 1px 1px,
    rgb(219, 219, 219) 2px 2px,
    rgb(222, 222, 222) 3px 3px,
    rgb(226, 226, 226) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(233, 233, 233) 6px 6px,
    rgb(236, 236, 236) 7px 7px,
    rgb(240, 240, 240) 8px 8px,
    rgb(243, 243, 243) 9px 9px,
    rgb(247, 247, 247) 10px 10px;
}
.form-container .form-area.form-user input:focus {
    box-shadow: rgb(207, 207, 207) 1px 1px,
    rgb(210, 210, 210) 2px 2px,
    rgb(213, 213, 213) 3px 3px,
    rgb(217, 217, 217) 4px 4px,
    rgb(220, 220, 220) 5px 5px,
    rgb(223, 223, 223) 6px 6px,
    rgb(227, 227, 227) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(233, 233, 233) 9px 9px,
    rgb(237, 237, 237) 10px 10px;
}

.form-container input.error {
    color: #ff6c5d;
    border-color: #ff6c5d;
}
input + .err-message {
    display: none;
}
input.error + .err-message {
    position: absolute;
    margin-left: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bolder;
    color: #ff6c5d;
    display: inline;
}
.form-container input.error:after {
    content: "!";
    color: inherit;
    position: absolute;
    display: block;
}

.form-container label {
    display: inline-block;
    color: #585858;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-container .form-icon {
    display: block;
    margin: 10px auto;
    width: 92px;
    height: 92px;
    background: url("../images/form-sprite.png") no-repeat 0;
    overflow: hidden;
}

.form-icon.icon-user {
    background-position: 0 -6px;
}
.form-icon.icon-build {
    margin-bottom: 15px;
background-position: -99px -6px;}
.form-icon.icon-pencil {
    margin-bottom: 16px;
    background-position: -202px -6px;}


.form-container .form-area {
    width: 460px;
    margin: 0 auto;
    border: 1px solid #dfd1c8;
    margin-bottom: 6px;
    padding: 3px 0 12px 0;
    background: #f7f7f7;
}

.form-container .form-area.form-user {
    width: 492px;
    margin-top: 8px;
    padding: 18px 0 23px 0;
    background: #ededed;}

.form-container .form-area.address {
    margin-bottom: 17px
}

.inp-group-3 {
    width: 300px;
    margin: 0 auto;}
.form-container .inp-group-3 input {
    float: left;
}

.form-container input.house {
    width: 113px;}
.form-container input.quarter {
    width: 88px;
    margin: 0 0 0 4px;}


.form-container input.index {
    width: 88px;
    margin-left: 4px;
}

.form-container .error-message {
    color: #ff6c5d;
    margin-top: 14px;
}

.form-container .button-order {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    background: #ff6c5d;
    color: #FFF;
    width: 210px;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: rgb(240, 240, 240) 1px 1px,
    rgb(241, 241, 241) 2px 2px,
    rgb(242, 242, 242) 3px 3px,
    rgb(243, 243, 243) 4px 4px,
    rgb(243, 243, 243) 5px 5px,
    rgb(244, 244, 244) 6px 6px,
    rgb(245, 245, 245) 7px 7px,
    rgb(246, 246, 246) 8px 8px,
    rgb(247, 247, 247) 9px 9px,
    rgb(247, 247, 247) 10px 10px,
    rgb(248, 248, 248) 11px 11px,
    rgb(249, 249, 249) 12px 12px,
    rgb(250, 250, 250) 13px 13px,
    rgb(251, 251, 251) 14px 14px,
    rgb(251, 251, 251) 15px 15px,
    rgb(252, 252, 252) 16px 16px,
    rgb(253, 253, 253) 17px 17px,
    rgb(254, 254, 254) 18px 18px,
    rgb(255, 255, 255) 19px 19px;
}
.form-container .button-order:hover {
    opacity: 0.9
}