@font-face {
    font-family: "HelveticaNeueCyr-UltraLight";
    src: url("HelveticaNeueCyr-UltraLight.eot");
    src: url("HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-UltraLight.woff") format("woff"),
         url("HelveticaNeueCyr-UltraLight.ttf") format("truetype"),
         url("HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight") format("svg");
    font-weight: 100;
    font-style: normal;
}