@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url("HelveticaNeueCyr-Light.eot");
    src: url("HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-Light.woff") format("woff"),
         url("HelveticaNeueCyr-Light.ttf") format("truetype"),
         url("HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
    font-weight: 100;
    font-style: normal;
}