extends ./layout.jade

block content
  .wrap
    header
      a.logotype(href='#', tabindex='-1')
      .header-gradient
        .container
          .back-button-box
            a.button-back.header-button(href='#', tabindex='1') Назад
          .vizzard-box
            .converts
              .convert-one
              .convert-two
              .convert-three
            .circles
              .circle-filled.active.left
              .progress-line.active.left
                span.progress(style='width: 50%')
              .circle
              .progress-line.right
                span.progress
              .circle-filled.right
            .text
              p.choose Выберите фотографии
              p.signature Подпишите
              p.complete Почти закончили!
          .forward-button-box
            a.button-next.header-button(href='#', tabindex='2') Продолжить
            // <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>
          .clearfix
    .content
      .container
        .form-container
          form(action='', method='POST')
            .form-area.form-user
              .form-icon.icon-user
              label Как вас зовут?
              .clearfix
              div
                input.error(name='firstname', type='text', placeholder='Имя')
                span.err-message !
              div
                input(name='lastname', type='text', placeholder='Фамилия')
                span.err-message !
            .form-area.address
              .form-icon.icon-build
              label На какой адрес доставить конверт?
              .clearfix
              div
                input(name='city', type='text', placeholder='Город')
                span.err-message !
              .inp-group-3
                input.house(type='text', placeholder='Дом')
                input.quarter(type='text', placeholder='Квартира')
                input.index(type='text', placeholder='Индекс')
                .clearfix
            .form-area.sign-up
              .form-icon.icon-pencil
              label Зарегестрируйтесь в Printy
              .clearfix
              div
                input.error(type='email', name='email', placeholder='Email')
                span.err-message !
              div
                input(type='text', name='password', placeholder='Пароль')
                span.err-message !
            .error-message Заполните пожалуйста отмеченные поля
            input.button-order(type='submit', value='Получить подарок')
