doctype html
html
  head

    block title
      title Page

    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='author', content='Roman Toroshin (necronru@gmail.com)')

    block viewport
      meta(name='viewport', content='width=device-width')

    block vendors
      // Bootstrap core CSS
      link(href='/vendors/vendors.css', rel='stylesheet')

    block stylesheet
      link(rel='stylesheet', href='/css/owerwride.css')
      link(rel='stylesheet', href='/css/buttons.css')
      link(rel='stylesheet', href='/css/icons.css')
      link(rel='stylesheet', href='/css/style.css')

    block ie
      // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
      //if lt IE 9
        script(src='/vendors/html5shiv.js')
        script(src='/vendors/respond.min.js')
  body
    block content
      .wrap
        header
          a.logotype(href='#', tabindex='-1')
          .header-gradient
            .container
              .back-button-box
                a.button-back.header-button(href='#', tabindex='1') Назад
              .vizzard-box
                .converts
                  .convert-one
                  .convert-two
                  .convert-three
                .circles
                  .circle-filled.active.left
                  .progress-line.active.left
                    span.progress
                  .circle
                  .progress-line.right
                    span.progress
                  .circle-filled.right
                .text
                  p.choose Выберите фотографии
                  p.signature Подпишите
                  p.complete Почти закончили!
              .forward-button-box
                a.button-next.header-button(href='#', tabindex='2') Продолжить
                // <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>
              .clearfix
        .content
          .container
            .left-menu-container
              ul.left-menu
                li
                  a.vk-block.active(href='#', tabindex='3')
                    i.cus-icon-vk
                    |                                         Вконтакте
                // убрать open для закрытия меню
                li.open
                  a.instagram-block.active(href='#', tabindex='4')
                    i.cus-icon-instagram
                    |                                         instagram
                  ul.submenu
                    li
                      a.my-photo-block.active(href='#', tabindex='5')
                        | Мои фотографии
                    li
                      a.gray-block.active(href='#', tabindex='6')
                        | Мои подписчики
                    li
                      a.gray-block(href='#', tabindex='7')
                        | Любимые
                    li
                      a.gray-block(href='#', tabindex='8')
                        | @Username #hashtag
                li
                  a.faceboock-block.active(href='#', tabindex='9')
                    i.cus-icon-facebook
                    |                                         Facebook
                li
                  a.dropbox-block(href='#', tabindex='10')
                    i.cus-icon-dropbox
                    |                                         Dropbox
                li
                  a.computer-block(href='#', tabindex='11')
                    i.cus-icon-computer
                    |                                         Компютер
            .right-container
              .photo-container
                .photo-item-box.added
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
                .photo-item-box
                  span.info Выбрано 5/10
                  .red-integer 15
                  .selected-overlay
                    i.photo-plus
                  img(src='/images/photo-example.jpg', alt='')
              .clearfix
              .load-photos ...
            .clearfix

    block scripts
      // scripts
      script(src='/vendors/vendors.min.js')
      // /scripts
