extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Подпишите
        // <a class="forward-link pull-left" href="#">3/10</a>
        a.forward-link.complete.pull-left(href='#') Далее
    .social-panel.hidden.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .bottom-panel
      .smile-panel
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
        img(src='/images/smile.jpg')
      .panel-box
        a(href='#')
          img(src='/images/XX.png')
        input(type='text', name='asd', value='')
        a(href='#', style='background: #f9f9f9')
          img(src='/images/V.png')
        .clearfix
    .container.photos-view
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
      .photo
        img(src='http://lorempixel.com/227/227/', height='227', width='227', alt='')
