extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Мои фотографии
        a.forward-link.pull-left(href='#') 3/10
        // <a class="forward-link complete pull-left" href="#">Далее</a>
    .social-panel.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .photo-choose
      .photo.checked
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 0
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 0
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .photo
        .checked-box
          .controls
            span.minus
            span.quantity 5
            span.plus
        img(src='http://lorempixel.com/152/152/', alt='')
      .clearfix
