extends ./layout.jade

block viewport
  meta(name='viewport', content='width=device-width, inital-scale=1.0, maximum-scale=1.5, minimum-scale=0.5')

block title
  title Mobile page

block stylesheet
  link(rel='stylesheet', href='/vendors/vendors.css')
  link(rel='stylesheet', href='/css/mobile.css')

block content
  .header
    .logo-box.container
      img.logotype(src='/images/mobile/logo.png', alt='')
    .social-panel.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .main-page-menu
      a(href='#') Мои фотографи
      a(href='#') Мои подписчики
      a(href='#') Любимые
      a(href='#') @Username #hashtag

block scripts
  // scripts
  script(src='/vendors/vendors.min.js')
  script.
    $(".social-panel .drag-and-drop-box .drag-area").click(function() {
      $(this).parent().parent().toggleClass('closed');
      return false;
    })
  // /scripts

