extends ./mobile.jade

block content
  .header
    .logo-box.container.hidden
      img.logotype(src='assets/images/mobile/logo.png', alt='')
    .top-navbar
      .container
        a.back-link.pull-left(href='#')
        span.current-page-title.pull-left Почти закончили!
        // <a class="forward-link pull-left" href="#">3/10</a>
        a.forward-link.complete.pull-left(href='#') Далее
    .social-panel.hidden.closed.container
      .links
        a.icon-vk(href='#')
        a.icon-instagram(href='#')
        a.icon-phone(href='#')
      .drag-and-drop-box
        // Контейнер чучуть больше чем иконка (чтоб палец попадал)
        a.drag-area(href='#')
        .line
        .line
        .line
  .content
    .container
      .form-box
        form(action='', method='post')
          .form-area
            label Как вас зовут?
            input(type='text', placeholder='Имя', tabindex='1')
            input(type='text', placeholder='Фамилия', tabindex='2')
          .form-area
            label Куда доставить?
            input(type='text', placeholder='Город', tabindex='3')
            input(type='text', placeholder='Улица', tabindex='4')
            input(type='text', placeholder='Дом/корпус', tabindex='5')
            .input-2
              input.pull-left(type='text', placeholder='Квартира', tabindex='6')
              input.pull-right(type='text', placeholder='Индекс', tabindex='7')
              .clearfix
          .form-area
            label Зарегестрируйтесь в Printy?
            input(type='text', placeholder='Email', tabindex='7')
            input(type='text', placeholder='Пароль', tabindex='8')
          .form-area
            input.send-btn(type='submit', value='Отправить', tabindex='9', onclick='return false')
