extends ./layout.jade

block title
  title Index page

block content
  .wrap
    header
      a.logotype(href='#', tabindex='-1')
      .header-gradient
        .container
          .back-button-box
            a.button-back.header-button(href='#', tabindex='1') Назад
          .vizzard-box
            .converts
              .convert-one
              .convert-two
              .convert-three
            .circles
              .circle-filled.active.left
              .progress-line.active.left
                span.progress
              .circle
              .progress-line.right
                span.progress
              .circle-filled.right
            .text
              p.choose Выберите фотографии
              p.signature Подпишите
              p.complete Почти закончили!
          .forward-button-box
            a.button-next.header-button(href='#', tabindex='2') Продолжить
            //- a.button-progress-txt.header-button(href="", tabindex="2") Выбрано 5/10
          .clearfix
    .content
      .container
        .left-menu-container
          ul.left-menu
            li
              a.vk-block.active(href='#', tabindex='3')
                i.cus-icon-vk
                | Вконтакте
            // убрать open для закрытия меню
            li.open
              a.instagram-block.active(href='#', tabindex='4')
                i.cus-icon-instagram
                | instagram
              ul.submenu
                li
                  a.my-photo-block.active(href='#', tabindex='5')
                    | Мои фотографии
                li
                  a.gray-block.active(href='#', tabindex='6')
                    | Мои подписчики
                li
                  a.gray-block(href='#', tabindex='7')
                    | Любимые
                li
                  a.gray-block(href='#', tabindex='8')
                    | @Username #hashtag
            li
              a.faceboock-block.active(href='#', tabindex='9')
                i.cus-icon-facebook
                | Facebook
            li
              a.dropbox-block(href='#', tabindex='10')
                i.cus-icon-dropbox
                | Dropbox
            li
              a.computer-block(href='#', tabindex='11')
                i.cus-icon-computer
                | Компютер
        .right-container
          .photo-container
            .photo-item-box.added
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
            .photo-item-box
              span.info Выбрано 5/10
              .red-integer 15
              .selected-overlay
                i.photo-plus
              img(src='/images/photo-example.jpg', alt='')
          .clearfix
          .load-photos ...
        .clearfix
