extends ./layout.jade
block title
  title Page 2

block content
    .wrap
      header
        a.logotype(href='#', tabindex='-1')
        .header-gradient
          .container
            .back-button-box
              a.button-back.header-button(href='#', tabindex='1') Назад
            .vizzard-box
              .converts
                .convert-one
                .convert-two
                .convert-three
              .circles
                .circle-filled.active.left
                .progress-line.active.left
                  span.progress(style='width: 50%')
                .circle
                .progress-line.right
                  span.progress
                .circle-filled.right
              .text
                p.choose Выберите фотографии
                p.signature Подпишите
                p.complete Почти закончили!
            .forward-button-box
              a.button-next.header-button(href='#', tabindex='2') Продолжить
              // <a class="button-progress-txt header-button" href="#" tabindex="2">Выбрано 5/10</a>
            .clearfix
      .content
        .container
          .left-menu-container
            .chosen-photo-block
              a.photo-container.checked(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container.checked(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              a.photo-container(href='#')
                .overlay-bg
                  span.icon-check
                img(src='/images/photo-example-mini.jpg', width='68', height='65', alt='photo')
              .clearfix
          .right-container
            .edit-photos-container
              .photo-item-box.active
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/smile.jpg', alt='smile')
                  .smiles
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
                    img(src='/images/smile.jpg', width='32', height='26', alt='smile')
              .photo-item-box.open
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
              .photo-item-box
                .photo-body
                  .controls
                    .slider-photo
                  .overlay-info
                    img(src='/images/resize.png', width='101', height='101', alt='')
                    p Увеличивайте и двигайте фотографию
                  img.photo(src='/images/photo-example-big.jpg', width='310', height='310', alt='photo')
                  input(type='text', name='', placeholder='What the font?!')
                .smiles-body
                  .current-smile
                    img(src='/images/X.jpg', alt='smile')
                  .smiles
                    p some text
          .clearfix

block scripts
  // scripts
  script(src='/vendors/vendors.min.js')

  script.
    $(function() {
      $( ".slider-photo" ).slider({
        orientation: "vertical",
        range: "min",
        min: 0,
        max: 100,
        value: 0
      });
    });
  // /scripts
